* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 50%;
}

.centering {
	margin: 50 auto;
	width: 80%;
	text-align: center;
	margin-top: 50px;
}

form.example::after {
	content: "";
	clear: both;
	display: table;
	align-items: center;
  }

.input {
	width: 100%;
	margin-top: 10px;
	height: 50px;
}

.answers {
	margin: 30 auto;
	font-size: 25;
	margin-top: 30px;
}

.line {
	margin-top: 30px;
}

body{
	background-color: #ecf5f4;
}


form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }
  
form.example button{
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}
	  
form.example button:hover {
	background: #0b7dda;
}