# This pylintrc is kept minimal in order to highlight where we deviate from the
# defaults. An extensive listing of all the options can be found here:
# https://github.com/PyCQA/pylint/blob/master/examples/pylintrc

[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=
    numpy,

load-plugins=
    pylint.extensions.docparams, # docstrings must mention all parameters

# Ignore config files
ignore=conf.py

init-hook='import sys; sys.path += ["KBQA/kbqa/webservice/appA/","KBQA/kbqa/webservice/appB/","KBQA/kbqa/webservice/website_server/","KBQA/kbqa/webservice/gerbil/","KBQA/kbqa/webservice/embedding_server/","./"]'

[MESSAGES CONTROL]

# Checks to disable with reasons.
disable=
    len-as-condition, # `if len(seq) != 0` is more explicit than `if seq`
    bad-continuation, # has false-positives, black disagrees
    no-else-return, # I think a clear "else" is more readable in some cases
    line-too-long, # handled by black (differently)
    too-few-public-methods, # such classes can still be useful
    unsubscriptable-object, # faulty in py39, https://github.com/PyCQA/pylint/issues/3882
    use-list-literal, # list() is saver since [] reffers to the same list
    use-dict-literal, # dict() is saver since {} reffers to the same dict
    dangerous-default-value, # using list() instead of [] is not dangerous
    fixme, # allow TODOs
    invalid-name, # used to allow KBQA as a module
    no-self-use, # class methods should be usable, even if they do not access self
    wrong-import-order, # handled by zimports
    cyclic-import, # warning, which might be false positive (if there is a cyclic import, an error will be thrown)
	import-outside-toplevel, # models are only loaded when the module is imported, import only used models to save memory

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=9

[DESIGN]

max-args=9
max-attributes=9
max-branches=15
max-locals=16
