flask==2.0.2
requests==2.26.0
uwsgi==2.0.20

SPARQLWrapper==1.8.5
transformers==4.5.1
torch==1.8.1
nltk==3.6.7
pytorch-pretrained-bert == 0.6.2
spacy == 3.2.3
cached-path == 1.1.2
allennlp == 2.9.2
scipy == 1.8.0
rdflib == 6.1.1
overrides == 6.1.0
distance == 0.1.3
numpy == 1.23.0
tqdm == 4.64.0