<html>
  <head>
    <title>Evaluation - Knowledge Base Question Answering</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <header>
      <div class="title">GERBIL evaluation results</div>
    </header>

    <canvas id="myChart" width="400" height="400"></canvas>
    <main>{% block content %}{% endblock %}</main>
  </body>

  <script>
    const ctx = document.getElementById("myChart");

    var jsonData = $.ajax({
      url: "{{ url_for('static', filename='summary.json') }}",
      dataType: "json",
    });

    const data = {
      datasets: [
        {
          label: "Micro F1",
          data: jsonData,
          parsing: {
            xAxisKey: "sub_experiments.experiment_type",
            yAxisKey: "sub_experiments..micro_f1",
          },
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(255, 159, 64, 0.2)",
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)",
          ],
          borderWidth: 1,
        },
      ],
    };

    const config = {
      type: "line",
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };

    const myChart = new Chart(ctx, config);
  </script>
</html>
